#LeftSideBarMainContainer{
  height: calc(100vh - 110px);  
  width: calc(10vw - 15px);
  background: rgba(10,10,10,1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

#leftSideBarSeperator{
  border: solid 1px lightgrey;
}

#leftSideBarPlaylistContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftSideBarPlaylistName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(220, 220, 220, 1);
}

#leftSideBarTopContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.homeBtn{
  text-decoration: none;
  color: white;
}