#playlistContainer{
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
  padding-left: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.linkPlaylist{
  height: 100px;
  width: calc((100% - 70px) / 3); 
  min-width: 250px;
  max-width: 500px;
}

.linkPlaylist:hover{
  background: rgba(55, 55, 55, 0.7);
}

.homePlaylistContainer{
  display: flex;
  gap: 10px;
}

.homePlaylistImage{
  height: 100px;
  width: 100px;
}

.homePlaylistText{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .linkPlaylist{
    height: 60px;
  }
  .homePlaylistImage{
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 900px) {
  .linkPlaylist{
    height: 100px;
    width: calc((100% - 90px) / 2); 
  }
  .homePlaylistImage{
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 600px) {
  .linkPlaylist{
    height: 60px;
    min-width: 175px;
  }
  .homePlaylistImage{
    height: 60px;
    width: 60px;
  }
}