.tableMain{
  overflow: hidden;
}

.tableRow:hover{
  background: rgba(55, 55, 55, 0.7);
}

.tableTrackNum{
  width: 50px;
}

.tableImg{
  width: 40px;
  height: auto;
}

.tableTitleContainer{
  width: 50vw;
  height: auto;
}

.tableTitle{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tableTitleText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableArtist{
  color: rgba(150, 150, 150, 1);
  text-decoration: none;
}

.tableArtist:hover{
  text-decoration: underline;
}

.tableAlbum{
  position: relative;
  top: 8px;
  width: 30vw;
  height: 100%;
  text-decoration: none;
}

.tableAlbum:hover{
  text-decoration: underline;
}

.tableDateAdded{
  width: 110px;
  min-width: 100px;
}

.tableDuration{
  width: 50px;
}

.albumRecHeader{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}