.tableTrackNum{
  width: 50px;
}

.tableImg{
  width: 40px;
  height: auto;
}

.tableTitleContainer{
  width: 50vw;
  height: auto;
}

.tableTitle{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tableTitleText{
  display: flex;
  flex-direction: column;
}

.tableArtist{
  color: rgba(150, 150, 150, 1);
}

.tableAlbum{
  width: 30vw;
}

.tableDateAdded{
  width: 110px;
  min-width: 100px;
}

.tableDuration{
  width: 50px;
}