.artistCardName{
  width: 100%;
  white-space: nowrap;
}

.artistCardInfo{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.discographyToggleGroup{
  padding-left: 20px;
  padding-bottom: 10px;
}