#homeContainer{
  height: 90vh;
}

#albumContainer{
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
  padding-left: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
}

#homeAlbumHeader{
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}

.homeAlbumContainer{
  display: flex;
  border: solid 1px purple;
  height: 100px;
  width: calc((100% - 90px) / 3); 
  min-width: 250px;
  max-width: 500px;
  gap: 10px;
}

.homeAlbumImage{
  height: 100px;
  width: 100px;
}

.homeAlbumText{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .homeAlbumContainer{
    height: 60px;
  }
  .homeAlbumImage{
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 900px) {
  .homeAlbumContainer{
    height: 100px;
    width: calc((100% - 90px) / 2); 
  }
  .homeAlbumImage{
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 600px) {
  .homeAlbumContainer{
    height: 60px;
    min-width: 175px;
  }
  .homeAlbumImage{
    height: 60px;
    width: 60px;
  }
}