#homeContainer{
  height: 90vh;
  width: 100%;
  border: green solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

#homeAlbumHeader{
  padding-left: 20px;
}

.homeAlbumContainer{
  display: flex;
  border: solid 1px purple;
  height: 100px;
  width: calc((100% - 180px) / 3); 
  min-width: 250px;
  max-width: 500px;
  margin-left: 20px;
  margin-right: 20px;
}

.homeAlbumImage{
  height: 100px;
  width: 100px;
}

.homeAlbumText{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .homeAlbumContainer{
    height: 60px;
  }
  .homeAlbumImage{
    height: 60px;
    width: 60px;
  }
}