#headerContainer{
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  height: 60px;
  padding-top: 10px;
  width: 90vw;
}

#headerHomeContainer{
  padding-top: 3px;
  padding-right: 2rem;
}

#headerHome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 125%;
  text-decoration: none;
  color: white;
  background: rgba(55, 55, 55, 0.7);
  border-radius: 20px 20px;
}
