#footerContainer{
  height: 8vh;
  border: pink solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Footer Center */
#footerCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#footerPlaybackControlsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
  top: 8px;
}

#footerTimeSliderContainer{
  height: 50%;
  position: relative;
  bottom: 10px;
}