#footerContainer{
  height: 60px;
  width: 100%;
  border: pink solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Footer Center */
#footerCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
}

#footerPlaybackControlsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#footerTimeSliderContainer{
  display: flex;
  padding: 0px;
}