#headerSearchContainer{
  padding-top: 1rem;
  padding-left: 1rem;
}

#headerSearchIcon{
  padding-top: 5px;
  padding-right: 5px;
  font-size: 125%;
  color: white;
}

#headerSearchInput{
  padding: 12px;
  width: 250px;
  border-radius: 25px 25px;
  background: rgba(55, 55, 55, 0.7);
  border: solid 3px transparent;
  color: white;
}

#headerSearchInput:focus{
  border: solid 3px white;
}
