#loginContainer{
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

#spotifyLoginLogo{
  width: 40%;
  height: auto;
}

.loginBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 50px;
  border-radius: 50px 50px;
  background: rgb(30 215 96);
  color: black;
  text-decoration: none;
}

.loginBtn.access{
  width: 240px;
}

.loginBtn:hover{
  font-weight: 600;
}