#footerLeftMain{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

#footerLeftText{
  display: flex;
  flex-direction: column;
  gap: 5px;
}