.musicHeaderMain{
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  padding-top: 25px;
  padding-left: 25px;
  height: 225px;
}

.musicHeaderImage{
  height: 200px;
  width: 200px;
  box-shadow: 0 0 20px rgb(40,40,40);
}

.musicHeaderText{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  position: relative;
  bottom: 10px;
}

.musicHeaderType{
  font-weight: bold;
}

.musicHeaderName{
  font-size: 300%;
  font-weight: bolder;
}

.musicHeaderInfo{
  font-weight: bold;
}