.musicHeaderMain{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* todo: the gradient effect */
  padding-bottom: 250px;
  padding-left: 25px;
  padding-right: 25px;
  height: 225px;
}

.musicHeaderContainer{
  display: flex;
  justify-content: flex-start;
  height: 200px;
  width: 100%;
}

.musicHeaderImage{
  height: 100%;
  width: auto;
  box-shadow: 0 0 20px rgb(40,40,40);
}

.musicHeaderText{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  position: relative;
  padding-bottom: 25px;
  gap: 10px;
}

.musicHeaderType{
  font-weight: bold;
}

.musicHeaderName{
  font-size: 200%;
  font-weight: bolder;
}

.musicHeaderInfo{
  font-weight: bold;
}

@media (max-width: 600px){
  .musicHeaderContainer{
    height: 150px;
  }
  .musicHeaderText{
    font-size: 75%;
  }
}

@media (max-width: 450px){
  .musicHeaderText{
    font-size: 50%;
  }
}